#mapid { height: 500px; }

h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: arial;
}

div {
  max-width: 780px;
  margin: auto;
}

body {
  background: repeating-linear-gradient( -45deg, #000 0px, #000 5px, #333 6px, #333 11px, #000 12px);
}

p {
  text-align: left;
  max-width: 780px;
  color: #FFFFFF;
  font-family: arial;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  margin: auto;
  div {
    max-width: 100%;
  }
}
